.profile_presentation {
  position: relative;
  z-index: 10000;
  position: fixed;
  right: 40px;
  top: 60px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  animation: prfilefadeIn 400ms ease 0s;
}
@keyframes prfilefadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.profile-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.profile_img {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 100px;
  height: 100px;
  background: url(https://occ-0-4796-988.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABbme8JMz4rEKFJhtzpOKWFJ_6qX-0y5wwWyYvBhWS0VKFLa289dZ5zvRBggmFVWVPL2AAYE8xevD4jjLZjWumNo.png?r=a41)
    50% no-repeat;
  background-size: cover;
}
.profile_name {
  position: absolute;
  top: 170px;
  left: 105px;
  text-align: center;
  color: #fff;
}
.profile_Edit_name,
.profile_Edit_photo,
.profile_Edit_logout {
  width: 80px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  top: 220px;
  cursor: pointer;
  transition: all 0.5 linear 0s;
}
.profile_button {
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.profile_Edit_name:hover,
.profile_Edit_photo:hover,
.profile_Edit_logout:hover {
  border: 1px solid #e50914;
  color: #e50914;
}
